[galera]
# Mandatory settings
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name="galera_cluster"
wsrep_cluster_address="gcomm://"
wsrep_sst_method=rsync
binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2

# Allow connections on all interfaces
bind-address=0.0.0.0

# Cluster options and unique settings
wsrep_provider_options="pc.weight=0"
wsrep_node_address="54.245.49.59"
