[mysqld]
# Mariadb settings
binlog_format=row
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0

# Galera settings
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name="mariadb-galera-cluster"
wsrep_cluster_address="gcomm://"
wsrep_sst_method=rsync

# Cluster options
wsrep_provider_options="pc.weight=0"
