# MariaDB-specific config file.
#
[client]
# Character set and default collation is utf8 (also in server section)
default-character-set = utf8

[mysqld]
# Character set and default collation is utf8 (also in client section)
character-set-server = utf8
collation-server = utf8_general_ci

# Import all .cnf files from configuration directory
!includedir /etc/mysql/mariadb.conf.d/
